[user]
    name = Jeffrey Faer
    email = jeffrey.faer@gmail.com
[color]
    ui = auto
[merge]
    tool = meld
[mergetool "meld"]
    trustExitCode = true
[push]
    default = simple
[grep]
    fullName = true
    lineNumber = true
    patternType = extended
[difftool]
    prompt = false
[init]
    defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[alias]
    # Git aliases have an implicit $@ at the end of them.
    sync = branchless sync --pull 'stack()'
    complete = !git branchless hide "\"ancestors($1) - public()\"" && git branch -d
    pre-commit = !pre-commit run -s main -o HEAD --show-diff-on-failure

[include]
    path = ~/.gitconfig-work
[remote "origin"]
	prune = true
