[user]
    name = Jeffrey Falgout
    email = jeffrey.falgout@gmail.com
[color]
    ui = auto
[merge]
    tool = meld
[mergetool "meld"]
    trustExitCode = true
[push]
    default = simple
[grep]
    fullName = true
    lineNumber = true
    patternType = extended
[difftool]
    prompt = false
[init]
    defaultBranch = main
[alias]
    sync = branchless sync --pull 'stack()'

[include]
    path = ~/.gitconfig-work
