[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "src/bash-preexec"]
	path = src/bash-preexec
	url = https://github.com/rcaloras/bash-preexec
[submodule "src/bats-core"]
	path = src/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "src/yadm"]
	path = src/yadm
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule "src/fzf"]
	path = src/fzf
	url = ssh://git@github.com/junegunn/fzf.git
[submodule "src/fzf-tab-completion"]
	path = src/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion.git
