[user]
    name = Jeffrey Faer
    email = jeffrey.faer@gmail.com
[color]
    ui = auto
[merge]
    tool = meld
[mergetool "meld"]
    trustExitCode = true
[push]
    default = simple
[grep]
    fullName = true
    lineNumber = true
    patternType = extended
[difftool]
    prompt = false
[init]
    defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[include]
    path = ~/.gitconfig-work
[remote "origin"]
	prune = true
